.navbar {
    padding: 15px 10%;
    background-color: #06283D;
    align-items: center;
}

.navbar h3 {
    margin: 0%;
    color: #47B5FF;
}

button {
    // background-color: whitesmoke;
    text-transform: unset !important;
    // color: #06283D;
}

.navbar p{
    color: white;
}