.navbar {
    padding: 15px 10%;
    background-color: whitesmoke;
    align-items: center;
}

.navbar h3 {
    margin: 0%;
    color: #1363DF;
}

button {
    background-color: #06283D;
    text-transform: unset !important;
    color: white;
}

.navbar p{
    color: white;
}