<!-- Navbar -->
<nav class="navbar navbar-expand-lg align-text-bottom">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->xzc
      <button (click)="onClick('back')"><i class="fas fa-band-aid"></i></button>
      <div><h3 class="me-5 float-start"><b>CILANDAK</b></h3></div>
        <button class="btn btn-outline-light" type="button" (click)="onLogin()">
            <b>Login</b>
        </button>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  