        
        <form class="form form-horizontal"(ngSubmit)="FormGroup.valid &&Login()" [formGroup]="FormGroup" #enjiForm="ngForm">
        
        <div class="container">
            <img src="/assets/cilandak.png" style="padding-bottom: 10px;" height="150px" width="150px" alt="">
            <label for="username" style="text-align: left;"><b>Username</b></label>
            <input type="text" name="username" class="form-control" formControlName="username">
            <label for="password" style="text-align: left;"><b>Password</b></label>
            <input type="password" name="password" class="form-control" formControlName="password">
            <button class="btn btn-success" type="submit">Login</button>
        </div>

    </form>