<div class="main">
    <div class="title">
        <img src="/assets/cilandak.png" style="padding-bottom: 20px;" height="150px" width="150px" alt="">
        <h1><b>C  I  L  A  N  D  A  K</b></h1>
        <h3>Mendaki Cicilan dengan Mudah</h3>
    </div>

    <div class="menu">
        <button class="btn btn-outline-dark" type="button" (click)="lihat_cicilan()"><h3><b>Lihat Cicilan</b></h3></button>
        <button class="btn btn-outline-dark" type="button"><h3><b>Cicilan Baru</b></h3></button>
    </div>
</div>