@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap%27');
* {
    font-family: 'Josefin Sans', sans-serif;
}

$gradient: .2;
body {
    background-image: linear-gradient( rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('/assets/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
