$borderRadius: .2em;
$gradient: .2;
.main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('/assets/background.png');
    background-size: cover;
    background-color: #06283D;
    height: 100vh;
    padding-top: 100px;
    height: 92.6vh;
    z-index: 2000;
}

.title {
    text-align: center;
    color: #DFF6FF;
}

.toptable {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.subdiv {
    display: flex;
    justify-content: space-evenly;
}

.subdiv #left {
    border-radius: 0% 0% 0px $borderRadius;
    border-top: 0px;
    border-left: 2px solid #DFF6FF;
    border-bottom: 2px solid #DFF6FF;
    border-right: 2px solid #DFF6FF;
}

.subdiv #right {
    border-radius: 0% 0% $borderRadius 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid #DFF6FF;
    border-right: 2px solid #DFF6FF;
}

.h4table{
    color: #06283D;
    font-weight: bolder;
    background-color: #DFF6FF;
    text-align: center;
    border: 2px solid #DFF6FF;
    border-radius: $borderRadius $borderRadius 0% 0%;
    margin: 0px;
    padding: 5px 0px;
}

.h5table {
    color: #DFF6FF;
    text-align: center;
    border: 2px solid #DFF6FF;
    border-radius: 0% 0% $borderRadius $borderRadius;
    width: 100%;
    border-top: 0px;
    padding: 7px 0px;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: x-large;
    // border: 2px solid #06283D;
    box-shadow: 0px 0px 3px 1px gray;
    border-radius: $borderRadius;
    margin-top: 50px;
}

th{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

tr{
    display: flex;
    justify-content: space-evenly;
}

.trheader{
    color: #06283D;
    background-color: white;
    border-radius: $borderRadius $borderRadius 0% 0%;
}

td{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 30%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px !important;
    width: 20% !important;
    margin: 0px 15px;
    margin-top: 70px;
    box-shadow: 0px 0px 2px 1px gainsboro;
    border-radius: 1em;
}

.num{
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.rowcard{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

img{
    margin-bottom: 20px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    padding: 0px 15%;
    margin-bottom: 70px;
}