<!-- <div class="main">
    <div class="totalperbulan">
        <h4>Total Kewajiban per Bulan</h4>
        <h5>Rp3,520,00</h5>
    </div>
    <div class="totalperbulan">
        <h4>Besar Pembayaran Selanjutnya</h4>
        <div class="subdiv">
            <h5>16 September 2022</h5>
            <h5>Rp3,520,00</h5>
        </div>
    </div>
</div> -->
<div class="main">
    <h1><b>Cicilan Anda</b></h1>
    <div class="container">
        <div class="row">
          <div class="col">
            <h4>Total Kewajiban per Bulan</h4>
            <h5><b>Rp3,520,000</b></h5>
          </div>
          <div class="col">
            <h4>Besar Pembayaran Selanjutnya</h4>
            <div class="subdiv">
                <h5 id="left"><b>16 September 2022</b></h5>
                <h5 id="right"><b>Rp20,520,000</b></h5>
            </div>
          </div>
          <div class="col">
            <h4>Yang Sudah Terkumpul</h4>
            <h5><b>SEMUA</b></h5>
          </div>
        </div>
    </div>
</div>
