$gradient: .2;
body{
    background-image: linear-gradient(
        rgba(0, 0, 0, $gradient),
        rgba(0, 0, 0, $gradient)
      ),url('/assets/background.png');
    background-size: cover;
    padding-top: 100px;
    height: 92.6vh;
    background-color: #06283D;
    color: #DFF6FF;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 20%;
    background-color: #06283D;
    box-shadow: 0px 0px 3px 1px #051c2b;
}

h5{
    margin-bottom:20px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}