<div class="container d-grid justify-content-center">
    <div class="container d-grid justify-content-center">
        <button (click)="ViewVidCall = true" class="btn">Kontak WOM sekarang!</button>
    </div>
    <br>
    <div *ngIf="ViewVidCall" class="container row">
        <div style="height: 300px;" class="col">
            <img width="100%" src="/assets/Izra.png">

        </div>
        <div style="height: 300px;" class="col">
            <img width="100%" src="/assets/WOM_DIHATII_FIXGOL.jpg">
        </div>
    </div>
</div>
